CREATE DATABASE Session4
GO
USE Session4
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[OrderID] [bigint] NOT NULL,
	[PartID] [bigint] NOT NULL,
	[BatchNumber] [nvarchar](50) NULL,
	[Amount] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Transactions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 8/24/2019 2:34:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TransactionTypeID] [bigint] NOT NULL,
	[SupplierID] [bigint] NULL,
	[SourceWarehouseID] [bigint] NULL,
	[DestinationWarehouseID] [bigint] NULL,
	[Date] [date] NOT NULL,
 CONSTRAINT [PK_SupplierHeaders] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parts]    Script Date: 8/24/2019 2:34:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parts](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[EffectiveLife] [bigint] NULL,
	[BatchNumberHasRequired] [bit] NULL,
	[MinimumAmount] [bigint] NULL,
 CONSTRAINT [PK_Parts] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 8/24/2019 2:34:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Suppliers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionTypes]    Script Date: 8/24/2019 2:34:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionTypes](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TransactionTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Warehouses]    Script Date: 8/24/2019 2:34:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Warehouses](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Stocks] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[OrderItems] ON 

INSERT [dbo].[OrderItems] ([ID], [OrderID], [PartID], [BatchNumber], [Amount]) VALUES (1, 1, 8, N'', CAST(2.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderItems] ([ID], [OrderID], [PartID], [BatchNumber], [Amount]) VALUES (2, 1, 6, N'SL1258', CAST(2.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderItems] ([ID], [OrderID], [PartID], [BatchNumber], [Amount]) VALUES (3, 1, 1, N'', CAST(4.00 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[OrderItems] OFF
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([ID], [TransactionTypeID], [SupplierID], [SourceWarehouseID], [DestinationWarehouseID], [Date]) VALUES (1, 1, 3, NULL, 2, CAST(N'2019-08-18' AS Date))
INSERT [dbo].[Orders] ([ID], [TransactionTypeID], [SupplierID], [SourceWarehouseID], [DestinationWarehouseID], [Date]) VALUES (2, 1, 4, NULL, 1, CAST(N'2019-08-18' AS Date))
INSERT [dbo].[Orders] ([ID], [TransactionTypeID], [SupplierID], [SourceWarehouseID], [DestinationWarehouseID], [Date]) VALUES (3, 1, 4, NULL, 1, CAST(N'2019-08-18' AS Date))
SET IDENTITY_INSERT [dbo].[Orders] OFF
SET IDENTITY_INSERT [dbo].[Parts] ON 

INSERT [dbo].[Parts] ([ID], [Name], [EffectiveLife], [BatchNumberHasRequired], [MinimumAmount]) VALUES (1, N'BLUE STORM Battery 12V 45Ah 54459', 650, 0, 10)
INSERT [dbo].[Parts] ([ID], [Name], [EffectiveLife], [BatchNumberHasRequired], [MinimumAmount]) VALUES (2, N'BLUE STORM Battery 12V 70Ah 80D26L', 700, 0, 10)
INSERT [dbo].[Parts] ([ID], [Name], [EffectiveLife], [BatchNumberHasRequired], [MinimumAmount]) VALUES (3, N'CT20 Turbo Turbocharger', NULL, 0, 0)
SET IDENTITY_INSERT [dbo].[Parts] OFF
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([ID], [Name]) VALUES (1, N'MJOK petroleum')
INSERT [dbo].[Suppliers] ([ID], [Name]) VALUES (2, N'Kazan Bosch  Center')
INSERT [dbo].[Suppliers] ([ID], [Name]) VALUES (3, N'Denso Corp')
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
SET IDENTITY_INSERT [dbo].[TransactionTypes] ON 

INSERT [dbo].[TransactionTypes] ([ID], [Name]) VALUES (1, N'Purchase Order')
INSERT [dbo].[TransactionTypes] ([ID], [Name]) VALUES (2, N'Warehouse Management')
SET IDENTITY_INSERT [dbo].[TransactionTypes] OFF
SET IDENTITY_INSERT [dbo].[Warehouses] ON 

INSERT [dbo].[Warehouses] ([ID], [Name]) VALUES (1, N'Central Warehouse')
INSERT [dbo].[Warehouses] ([ID], [Name]) VALUES (2, N'Volka  Warehouse')
SET IDENTITY_INSERT [dbo].[Warehouses] OFF
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([ID])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Orders]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Parts] FOREIGN KEY([PartID])
REFERENCES [dbo].[Parts] ([ID])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_Transactions_Parts]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Headers_Stocks] FOREIGN KEY([SourceWarehouseID])
REFERENCES [dbo].[Warehouses] ([ID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Headers_Stocks]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Headers_Stocks1] FOREIGN KEY([DestinationWarehouseID])
REFERENCES [dbo].[Warehouses] ([ID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Headers_Stocks1]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Headers_Suppliers] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Suppliers] ([ID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Headers_Suppliers]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Headers_TransactionTypes] FOREIGN KEY([TransactionTypeID])
REFERENCES [dbo].[TransactionTypes] ([ID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Headers_TransactionTypes]
GO
USE [master]
GO
